{% extends 'base.html' %}

{% block title %}Add Department{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Department Management System</h1>
    <h2>Add Department</h2>
    <p class="text-muted">Only Admin can create a new department.</p>
    <div class="card shadow-sm p-4">
        <h3>Create Department</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="dept_name" class="form-label">Department Name:</label>
                <input type="text" class="form-control" id="dept_name" name="dept_name" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Department Description:</label>
                <input type="text" class="form-control" id="description" name="description" required>
            </div>
            <button type="submit" class="btn btn-create text-white">CREATE</button>
        </form>
    </div>
</div>
{% endblock %}